<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>
    <title>Details</title>
    <style>
        body {
            background-image: url("../static/background2.jpg");
            background-repeat: no-repeat;
            min-height: 100vh;
            min-width: 100vh;
        }

        .card-style {
            top: 30vh;
            width: 50vh;
            padding: 30px;
        }

        input {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="card my-auto mx-auto card-style">
        <div class="card-body">
            <h3>Analysis portal</h3>
            <form method="POST">
                <input id="uname" type="text" class="form-control" placeholder="Username">
                <input id="psw" type="password" class="form-control" placeholder="Password">
                <center>
                    <button class="btn btn-primary" type="submit">LOGIN</button>
                </center>
            </form>
        </div>
    </div>
</body>

</html>