<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <title>Details</title>
    <style>
        body {
            background-image: url("../static/background2.jpg");
            background-repeat: repeat-y;
            min-height: 100vh;
        }

        .card-style {
            width: 50vh;
            padding: 30px;
        }

        input {
            margin-bottom: 10px;
        }

        .chart {
            height: 50%;
            width: 50%;
            margin: auto;
        }

        .ageChart {
            margin-top: 30px;
            background-color: white;
        }

        .attnscore {
            background-color: white;
            border-radius: 10px;
            box-shadow: 2px 2px 2px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 30px;
            width: 30%;
            padding: 2%;
        }
    </style>


    <script>
        var pieData = '{{ data }}'
        var users = '{{users}}'
        j_users = JSON.parse(users.replace(/&#34;/g, '"'));
        console.log(j_users)

        below18 = j_users.filter(item => item.age < 18)
        midage = j_users.filter(item => item.age >= 18 && item.age < 40)
        over40 = j_users.filter(item => item.age >= 40)

        console.log(below18)
        console.log(midage)
        console.log(over40)

        var attn18 = 0, time18 = 0, attn35 = 0, time35 = 0, attn45 = 0, time45 = 0;
        below18.map(item => {
            attn18 += item.attention;
            time18 += item.playhead
        })

        midage.map(item => {
            attn35 += item.attention;
            time35 += item.playhead
        })
        console.log(attn35, time35)
        over40.map(item => {
            attn45 += item.attention;
            time45 += item.playhead
        })
        var avg_time = 0
        var avg_attn = 0
        j_users.map(item => {
            avg_attn += item.attention
            avg_time += item.playhead
        })
        console.log(avg_time)


        window.addEventListener("load", () => {
            attention = ((avg_attn * 100) / 10).toFixed(2);
            document.getElementById("attn").innerHTML = attention;
            document.getElementById("watchtime").innerHTML = (avg_time / j_users.length).toFixed(2);

            document.getElementById("attn18").innerHTML = (attn18 / time18) == NaN ? 0 : (attn18 / time18).toFixed(2)
            document.getElementById("attn35").innerHTML = (attn35 / time35) == NaN ? 0 : (attn35 / time35).toFixed(2)
            document.getElementById("attn45").innerHTML = (attn45 / time45) == NaN ? 0 : (attn45 / time45).toFixed(2)
            var ctx = document.getElementById('pieChart').getContext('2d');
            var ctx2 = document.getElementById('ageChart').getContext('2d');
            data = {
                datasets: [{
                    data: pieData,
                    backgroundColor: ["red", "blue"]
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: [
                    'Skipped',
                    'Not skipped',
                ]
            };
            var pieChart = new Chart(ctx, {
                type: 'doughnut',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            labels: {
                                font: {
                                    size: 25
                                }
                            },
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Skipped percentage'
                        }
                    }
                },
            })
            var ageArr = [];
            ageArr.push(below18.length)
            ageArr.push(midage.length)
            ageArr.push(over40.length)
            console.log()
            const data2 = {
                labels: ["<18", "18-40", ">40"],
                datasets: [{
                    label: 'Age Distribution',
                    data: ageArr,
                    backgroundColor: ["red", "blue", "green"]
                }]
            };

            var ageChart = new Chart(ctx2, {
                type: "bar",
                data: data2,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                },
            })
        })
        console.log(pieData)
        function submit() {
            window.location = "/survey"
        }


    </script>
</head>

<body>
    <div class="mt-3 ml-5">
        <center>
            <h2 class="text-white">Your advertisement</h2>
            <video src="./static/ad1.mp4" id="adVideo" controls width="80%"></video>
        </center>
        <h2 class="title text-white">How did users find this survey?</h2>
        <h4 class="text-white">AVERAGE ATTENTION SPAN OF USERS: <b><span id="attn"></span> percentage</b></h4>
        <h4 class="text-white">AVERAGE WATCH DURATION OF USERS: <b><span id="watchtime"></span> seconds</b></h4>
    </div>
    <div class="chart">
        <canvas id="pieChart"></canvas>
    </div>

    <div class="ageChart">
        <canvas id="ageChart"></canvas>
    </div>

    <div class="regionChart">

    </div>

    <div class="attnscore">
        <h2>Attention score</h2>
        <h3><span>Age >18:</span><span id="attn18"></span></h3>
        <h3><span>Age 18-45:</span><span id="attn35"></span></h3>
        <h3><span>Age 45+:</span><span id="attn45"></span></h3>
    </div>
</body>

</html>