<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>

    <script>
        window.addEventListener("load", () => {
            console.log(document.getElementById('adVideo'));
            document.getElementById('adVideo').addEventListener('ended', handleVideoEnd, false);
        })
        var region = localStorage.getItem("region");
        var age = localStorage.getItem("age");
        function handleVideoEnd() {
            var video = document.getElementById("adVideo");
            const data2 = {
                region: region,
                age: age,
                playhead: parseInt(document.getElementById('adVideo').duration),
                skipped: "false"
            }
            console.log(data2);
            fetch("/survey", {
                method: "POST",
                mode: 'cors',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data2)
            }).then(res => res.json())
                .then(data => {
                    console.log(data)
                    localStorage.setItem("attention", data.attention);
                });
            localStorage.setItem("skipped", false);
            window.location = "/analysis";
        }


        function submit() {


            localStorage.setItem("skipped", true);
            var video = document.getElementById("adVideo");
            localStorage.setItem("timeStamp", parseInt(video.currentTime));
            const data = {
                region: region,
                age: age,
                playhead: parseInt(video.currentTime),
                skipped: "true"
            }
            fetch("/survey", {
                method: "POST",
                mode: 'cors',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(res => res.json())
                .then(data => {
                    localStorage.setItem("attention", data.attention);
                });
            window.location = "/analysis";
        }
    </script>
</head>

<body>
    <center>
        <h2 class="text-white">Your advertisement</h2>
        <video src="./static/ad1.mp4" id="adVideo" controls width="80%"></video>
    </center>
    <div class="text-center">
        <button class="btn btn-primary" onclick="submit()">SKIP</button>
        <img src="{{ url_for('video_feed') }}" style="display: none;">
    </div>
</body>

</html>